<div class="left-header">
  <div calss="left-title-contents">
    <h2 class="left-title">
      簡単に日々の支出を計算しよう
    </h2>
    <p class="service-question-day">
      今日はお金をおいくら使いましたか？
    </p>
    <p class="service-question-month">
      今月はお金をおいくら使いましたか？
    </p>
    <p class="add">
       Let's go !!!
    </p>
    <div class="login-btn">
      <%= link_to '計算する', new_score_path, class:"login-red-btn" %>
    </div>
  </div>
</div>