<div class="left-header">
  <div calss="left-title-contents">
    <h2 class="left-title">
      簡単に日々の支出を計算しよう
    </h2>
    <p class="service-question-day">
      今日はお金をおいくら使いましたか？
    </p>
    <p class="service-question-month">
      今月はお金をおいくら使いましたか？
    </p>
    <p class="add">
       Let's go !!!
    </p>
    <a href='/users/:user_id/scores'>
      <div class='start-btn'>
        <h2 class="start-ldb-btn">
          S T A R T
        </h2>
     </div>
    </a>
  </div>
</div>