<div class="right-header">

  <div class="right-title-contents">
    <% if user_signed_in? %>
      <%= link_to '情報を管理しよう', new_user_action_path, class: "right-title" %>
        <p class="service-add">自分の情報を管理できていますか？</p>
        <p class="add-title">食費で使っているお金！</p>
        <p class="add-title2">買い物で使っているお金！</p>
        <p class="add-title3">生活費で使っているお金！</p>
    <% else %>
        <p class="service-add">自分の情報を管理できていますか？</p>
        <p class="add-title">食費で使っているお金！</p>
        <p class="add-title2">買い物で使っているお金！</p>
        <p class="add-title3">生活費で使っているお金！</p>
    <% end %>
  </div>
</div>