<div class="right-header">

  <div class="right-title-contents">
    <a href='/users/sign_in'>
      <h3 class="right-title">
        ログインして情報を管理しよう
      </h3>
    </a>
    <a href='/users/:user_id/actions'>
      <p class="service-add">
        いつも生活で意識していますか？
      </p>
      <p class="add-title">
        食費においくら使いますか？
      </p>
      <p class="add-title2">
        買い物ではおいくら使いますか？
      </p>
      <p class="add-title3">
        生活費はどれくらになりますか？
      </p>
    </a>
  </div>
</div>