<%= render "shared/header" %>
<div class="main">
  <div class='nav'>
    <ul class='left-lists'>
      <li>
        <%= render "_left_side_bar.html.erb" %>
      </li>
    </ul>
    <ul class='right-lists'>
      <li>
        <%= render "_right_side_bar.html.erb" %>
      </li>
    </ul>
  </div>
</div>