<%= render "shared/header" %>
<div class="wrapper">
  <div class="left">
    <%= render "left_bar" %>
  </div>
  <div class="right">
    <%= render "right_bar" %>
  </div>
</div>

<div class='purchase-btn'>
  <span class='purchase-btn-text'>計算する</span>
  <a href="/users/:user_id/scores/new">
    <%= image_tag 'ブタの貯金箱アイコン.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  </a>
</div>
