<%= render "shared/header" %>
<div class="main">

  <div class='nav'>
    <div class="side_bar">
      <%= render "shared/left_bar" %>
      <%= render "shared/right_bar" %>
    </div>
  </div>

</div>