<footer class='fotter'>
  <h3 class="fotter-title">
    LIFE DATA BASE
  </h3>
  <div class='fotter-text-wrap'>
    <p class='fotter-text'>LIFE あなたの人生で使っている</p>
    <p class='fotter-text'>DATA 情報をまとめて</p>
    <p class='fotter-text'>BASE 基板を作ろう！</p>
  </div>
  <%= image_tag "ブタの貯金箱アイコン.png", class:"fotter-logo"%>
</footer>