<footer class='fotter'>
  <h3 class="fotter-title">
    LIFE DATA BASE
  </h3>
  <div class='fotter-text-wrap'>
    <p class='fotter-text'>LIFE <br> あなたの人生で使っている</p>
    <p class='fotter-text'>DATA <br> 情報をまとめて</p>
    <p class='fotter-text'>BASE <br> 基板を作ろう！</p>
  </div>
    <h3 class="fotter-title">
    W E L C O M E
  </h3>
</footer>