<header class='top-page-header'>
  <div class='title'>
    <h1>
      LIFE DATA BASE
    </h1>
  </div>
  <div class='nav'>
    <ul class='left-lists'>
      <li>
      </li>
    </ul>
    <ul class='right-lists'>
      <li>
      </li>
    </ul>
  </div>
</header>