<header class='top-page-header'>
  <h1 class='title'>
    LIFE DATA BASE
  </h1>
  <div class='nav'>
    <ul class='left-lists'>
      <li>
        LIFE あなたの人生で使っている
      </li>
      <li>
        DATA 情報をまとめて
      </li>
      <li>
        BASE 基板を作ろう！
      </li>
    </ul>
    <ul class='right-lists'>
      <li class="title-message">
        W E L C O M E
      </li>
      <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, root_path, class: "user-nickname" %></li> 
          <li><%= link_to 'ロ グ ア ウ ト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <% else %>
          <li><%= link_to '➡️ L O G I N', user_session_path, class: "login"%></li>
          <li><%= link_to '➡️ N E W', new_user_registration_path, class: "sign-up" %></li>
        <% end %>
    </ul>
  </div>
</header>