.action-main-service {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.ldb-action-contents {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ldb-contents>.action-title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.ldb-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.action-explain-box {
  font-size: 18px;
  margin: 40px 0px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-title {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.action-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.action_food_expenses {
  font-size: 2.5vh;
  display: flex;
  justify-content: space-between;
}

.action_shopping {
  font-size: 2.5vh;
  display: flex;
  justify-content: space-between;
}

.action_living_expenses {
  font-size: 2.5vh;
  display: flex;
  justify-content: space-between;
}