.service-contents {
  width: 100vw;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.service-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 10vw;
}

.service-main>.service-main-title {
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
  font-weight: bold;
  font-size: 22px;
}

.action-day-form {
  margin-top: 15px;
}

.action-day-title {
  width: 30%;
  margin-top: 5px;
  margin-left: 25%;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  color: #3ccace;
  font-size: 16px;
  resize: none;
  line-height: 30px;
  text-align: center;
}

.food-expenses-form {
  margin-top: 15px;
}


.food-expenses-title {
  width: 30%;
  margin-top: 5px;
  margin-left: 25%;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  color: #3ccace;
  font-size: 16px;
  resize: none;
  line-height: 30px;
  text-align: center;
}

.shopping-expenses-form {
  margin-top: 15px;
}

.shopping-expenses-title {
  width: 38%;
  margin-top: 5px;
  margin-left: 25%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  color: #3ccace;
  font-size: 16px;
  resize: none;
  line-height: 30px;
  text-align: center;
}

.living-expenses-form {
  margin-top: 15px;
}

.living_expenses-title {
  width: 48%;
  margin-top: 5px;
  margin-left: 25%;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  color: #3ccace;
  font-size: 16px;
  resize: none;
  line-height: 30px;
  text-align: center;
}

.form-any {
  background: #ccc;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding: 2px 4px;
}

.input-content-btn {
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.input-ldb-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 50%;
  height: 50px;
  font-size: 20px;
  margin-top: 50px;
}