.scores-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  height: 100%;
}

.scores-main {
  background-color: #FFF;
  width: 70%;
  height: 100%;
  min-width: 450px;
  padding: 5vh 20vw;
}

.scores-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.new-scores {
  padding: 5px;
}

.weight-bold-text {
  margin-left: 25%;
}

// <%# yera-content %>

.yera-text {
  width: 25%;
  padding: 10px 10px 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-left: 25%;
  resize: none;
}

// <%# yera-content %>


.score-input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 25px;
}

// <%# month-content %>

.score_month_title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.score_month_content {
  width: 80%;
  height: 25%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #3ccace;
}

.monthly_income_text {
  /* min-width: 170px; */
  display: flex;
  align-items: center;
  margin: 10px;
  border-bottom: 1px solid #ccc;
}

.score_month_expense_text {
  /* min-width: 170px; */
  display: flex;
  align-items: center;
  margin: 10px;
  border-bottom: 1px solid #ccc;
}

.score_month_text {
  /* min-width: 170px; */
  display: flex;
  align-items: center;
  margin: 10px;
  border-bottom: 1px solid #ccc;
}

.score-yen {
  font-size: 18px;
}

.score_monthly_income_input {
  height: 30px;
  text-align: right;
  padding: 10px;
}

.score_month_expense_input {
  height: 30px;
  text-align: right;
  padding: 10px;
}

.score_month_input {
  height: 30px;
  text-align: right;
  padding: 10px;
}

// <%# month-content %>

// <%# day-content %>

.score_day_title {
  font-size: 20px;
  font-weight: bold;
}

.score_day_content {
  width: 80%;
  height: 25%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #3ccace;
}

.score_pay_text {
  min-width: 170px;
  margin: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.score_pay_input {
  height: 30px;
  text-align: right;
}

.score_pay_all_text {
  min-width: 170px;
  margin: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.score_pay_all_input {
  height: 30px;
  text-align: right;
}

.score_day_text {
  min-width: 170px;
  margin: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.score_day_input {
  height: 30px;
  text-align: right;
}

// <%# day-content %>

// <%# btn-content %>

.input-btn {
  width: 100%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-red-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 35px;
  padding: 8px;
}

// <%# btn-content %>


