.scores-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.scores-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.scores-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.new-scores {
  padding: 2vh 0;
}

.yera-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.month-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.day-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.score-input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.score_month-content {
  width: 300px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.score_month-text {
  /* min-width: 170px; */
  display: flex;
  align-items: center;
}

.score-yen {
  font-size: 18px;
}

.score_month-input {
  height: 30px;
  text-align: right;
  padding-right: 10px;
}

.score_day-content {
  width: 300px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.score_day-text {
  /* min-width: 170px; */
  display: flex;
  align-items: center;
}

.score-yen {
  font-size: 18px;
}

.score_day-input {
  height: 30px;
  text-align: right;
  padding-right: 10px;
}
